<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="main">
      <a href="/">
        Обновить страницу
      </a>
      <img src="
      <%= getImage %>
      ">
    </main>
  </body>
</html>
